.footer{
    font-family: "Inter";
  display: flex;
  justify-content: center;
  padding: 46px 0 24px;
}   

@media screen and (max-width: 1024px) {
  .footer__copy {
    width: 100%;
    height: 16px;
    align-items: center;
  }
}