.page {
  background: #2a2c2f;
  color: white;
  font-weight: 400;
  min-height: 320px;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .page {
    min-height: 1659px;
    min-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    min-height: 1550px;
    min-width: 320px;
  }
}